@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


/* clear browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Righteous';
}

/* Color pallet */
:root {
  --primary-color: #1C0B19;
  --secondary-color: #9ba2ff;
  --tertiary-color: #6FEDB7;
  --link-color: #E86A92;
  --white: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 200;
  line-height: 1.5px;
  font-size: 20px;
  background: var(--primary-color);
  color: var(--white);
  font-family: 'Righteous';
}

h1, h2, h3 {
  font-weight: 300;
  margin: 5px 0;
  line-height: 1.25;
}

.text{
  margin-left: 33px;
  font-size: 60px;
}

/* header styles */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  z-index: 9999;
  position: absolute;
  right: 0px;
  top: 20px;
}

header nav {
  padding-right: 35px;
  display: flex;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

header nav ul li a {
  padding: 15px 0 5px;
  margin: 25px;
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}

.active {
  text-shadow: 2px 0.5px 3px var(--secondary-color);
}

header nav ul li a:hover {
  color: var(--link-color);
  border-bottom: 2px solid var(--white);
}

/* End header styles */

/* about me */

#about{
  text-align: end;
  padding-bottom: 10px;
  margin: 50px 100px 20px auto;
  font-size: 65px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.about-img {
  align-items: center;
  width: 400px;
  height: 400px;
  margin: auto 40px 30px 150px;
}

.about-text{
  font-size: 22px;
  line-height: 1.5;
  flex: 2;
  margin: auto 150px;
}

/* about me end */

/* Contact style */

#contact {
  text-align: end;
  padding-bottom: 10px;
  margin: 50px 100px 20px auto;
  font-size: 65px;
}

.contact-form {
  /* flex: 100%; */
  max-width: 700px;
  margin: 20px 700px 0;
  padding-bottom: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-form div {
  display: contents;
}

.contact-form label {
  flex: 100%;
  font-size: 25px;
  color: var(--tertiary-color);
  padding-bottom: 18px;
  padding-top: 18px;
}

.contact-form input {
  height: 40px;
}

.contact-form input, .contact-form textarea {
  flex: 100%;
  margin-bottom: 10px;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: var(--white);
  font-size: 16px;
  border: 1px solid var(--secondary-color);
  box-shadow: var(--secondary-color) 0px 3px 10px;
}

.contact-form textarea {
  padding-top: 8px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--link-color);
}

.contact-form button {
  flex: 0 50%;
  padding: 10px;
  margin: 15px auto;
  border-radius: 5px;
  background-color: var(--link-color);
  opacity: 0.7;
  border: none;
  cursor: pointer;
}

.contact-form button:hover{
  opacity: 1;
}

.contact-form p{
  font-size: 20px;
}

.error-message {
  padding-top: 10px;
  padding-bottom: 5px;
  justify-content: center;
}

/* contact end */

/* portfolio */

#portfolio {
  text-align: end;
  padding-bottom: 10px;
  margin: 50px 40px 40px 10px;
  font-size: 65px;
}

.card{
  position: relative;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.card-img-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-body{
  flex: 1 1 auto;
  padding: 16px 16px;
  text-align: center;
  align-items: center;
}

.card-title, .card-text {
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 40px;
}

.card-link {
  padding: 0 10px;
  padding-bottom: 40px;
}

.card-link:hover {
  filter: drop-shadow(2px 0.5px 3px var(--secondary-color));
}

.project-img {
  height: 400px;
  width: 800px;
  margin-left: 110px;
}

.project-title {
  text-decoration: none;
  color: var(--link-color);
  text-shadow: 2px 0.5px 3px var(--link-color);
  font-size: 40px;
}

.card-title a:hover{
  text-shadow: 2px 0.5px 3px var(--secondary-color);
}


/* end portfolio */

/* Resume styling */

#resume{
  text-align: end;
  padding-bottom: 10px;
  margin: 50px 100px 40px 10px;
  font-size: 65px;
  flex-wrap: wrap;
}

.resume p {
  text-align: center;
  margin: 30px auto;
  font-size: 50px;
}

.resume a {
  text-decoration: none;
  color: var(--link-color);
}

.resume a:hover {
  text-shadow: 2px 0.5px 3px var(--secondary-color);
}

.proficiencies{
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  margin: 20px 600px 0 600px;
  justify-content: center;
}

.front-end{
  padding-right: 120px;
}

.proficiencies div ul li {
  padding-top: 50px;
  line-height: 2px;
  padding-left: 30px;
  margin: 0 auto;
  max-width: 230px;
  font-size: 22px;
}

/* end resume */

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

/* footer styles */
footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--primary-color));
  margin-bottom: 0px;
  bottom: 0;
  position: absolute;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-content {
  width: 100%;
  display: flex;
}

.footer-content img {
  padding: 5px;
}

.footer-content img:hover {
  filter: brightness(2);
}

/* end footer */

/* responsive styling */
